<div class="row">
    <div class="col-md-12 text-center"><h2>todo-list</h2></div>
</div>

<div class="row">
    <table class="table" border="3px black">
        <thead>
            <!-- <th>
               id
            </th> -->
            <th>
                task
            </th>
            <th>
                description
            </th>
            <th>
              dueDate
            </th>
             <th>
                EDIT | DELETE
            </th> 
        </thead>
            <tbody>
                <tr *ngFor="let student of students">
                    <!-- <td >{{student.id1}}</td> -->
                    <td >{{student.title}}</td>
                    <td>{{student.description}}</td>
                    <td>{{student.dueDate}}</td>
                    <td>
                       <a href="edit-student/{{student._id}}" class="btn btn-success"> EDIT </a>
                        |  <button (click)="delStudent(student)" class="btn btn-danger">DELETE</button> </td>
                </tr>
            </tbody>
      
    </table>
</div>